* {
  border: 1px red solid;
}

.page {
  /* min-width: 1280px;
  max-width: 100vw; */
  margin: 0 auto;
  color: #fff;
  background: #2a2c2f;
  position: relative;
  /* z-index: -99; */
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  src: local("Inter"), url("/fonts/Inter-Regular.otf"),
    url("/fonts/Inter-Regular.ttf"), url("/fonts/Inter-Regular.woff"),
    url("/fonts/Inter-Regular.woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  src: local("Inter"), url("/fonts/Inter-Black.otf"),
    url("/fonts/Inter-Black.ttf"), url("/fonts/Inter-Black.woff"),
    url("/fonts/Inter-Black.woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  src: local("Inter"), url("/fonts/Inter-Bold.otf"),
    url("/fonts/Inter-Bold.ttf"), url("/fonts/Inter-Bold.woff"),
    url("/fonts/Inter-Bold.woff2");
}
