.photo-grid {
  max-width: 1184px;
  margin: 0 auto 88px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    width: 90.625vw;
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    margin: 0 auto 88px;
    width: 93.75vw;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    margin: 0 auto 64px;
    width: 90vw;
    gap: 12px;
    grid-template-columns: repeat(1, 1fr);
  }
}
