.cover {
  position: relative;
  max-width: 1184px;
  width: 92.5%;
  margin: 0 auto 92px;
}

.cover::before {
  content: "";
  display: block;
  padding-bottom: 62.5%;
}

@media screen and (max-width: 1280px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 0 auto 64px;
  }
}
