.cover {
  position: relative;
  max-width: 1184px;
  width: 92.5%;
  margin: 0 auto 92px;
}

.cover::before {
  content: "";
  display: block;
  padding-bottom: 62.5%;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
    margin: 0 auto 95px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin: 0 auto 85px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 0 auto 64px;
  }
}
