.cover__background {
  background-image: url(./images/cover/__background.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__background:before {
  content: "";
  background-color: #2a2c2f;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.cover__background:hover:before {
  opacity: 0.8;
}
