.header {
  max-width: 1184px;
  width: 92.5vw;
  margin: 0 auto 56px;
  padding: 28px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .header {
    margin: 0 auto 48px;
    width: 90.625vw;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: 93.75vw;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 90vw;
    padding: 16px 0 0;
  }
}
